@page "/Account/Login"

<PageTitle>@Utils.GetPageTitle("Login")</PageTitle>
<div class="container d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 250px)">
    <div class="col-sm-4 shadow py-3 rounded">
    <h1 class="text-center">Log in</h1>
    <StatusMessage Message="@_errorMessage"/>
        <EditForm Model="Input" method="post" OnValidSubmit="PerformLoginAsync" FormName="login">
        <DataAnnotationsValidator/>
        <h5 class="text-center">Use a local account to log in.</h5>
        <hr/>
        <ValidationSummary class="text-danger" role="alert"/>
        <div class="form-floating mb-3">
            <label for="email" class="form-label">Email</label>
            <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com"/>
            <ValidationMessage For="() => Input.Email" class="text-danger"/>
        </div>
        <div class="form-floating mb-3">
            <label for="password" class="form-label">Password</label>
            <InputText type="password" @bind-Value="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password"/>
            <ValidationMessage For="() => Input.Password" class="text-danger"/>
        </div>
        <div class="checkbox mb-3 ml-4">
            <label class="form-label">
                <InputCheckbox @bind-Value="Input.RememberMe" class="darker-border-checkbox form-check-input"/>
                Remember me
            </label>
        </div>
        <div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        </div>
    </EditForm>
    </div>
</div>