@page "/"

<PageTitle>@Utils.GetPageTitle("Home")</PageTitle>

@if (_firstFeatured is not null)
{
    <div class="container">
        <div class="jumbotron jumbotron-fluid mb-3 pt-0 pb-0 bg-lightblue position-relative">
            <div class="pl-4 pr-0 h-100 tofront">
                <div class="row justify-content-between">
                    <div class="col-md-6 pt-6 pb-6 align-self-center">
                        <h1 class="secondfont mb-3 font-weight-bold">@_firstFeatured.Title</h1>
                        <p class="mb-3">
                            @_firstFeatured.Introduction
                        </p>
                        <a href="posts/@_firstFeatured.Slug" class="btn btn-dark">Read More</a>
                    </div>
                    <div class="col-md-6 d-none d-md-block pr-0 shano-div-class" style="background-image: url(@_firstFeatured.Image);"> </div>

                </div>
            </div>
        </div>
    </div>
}

<div class="container pt-4 pb-4">
    <FeaturedBlogPosts Posts="_featured" />
</div>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-md-8">
            <h5 class="font-weight-bold spanborder"><span>Latest Posts</span></h5>
            <BlogPostList Posts="_recent" />
        </div>
        <div class="col-md-4 pl-4">
            <h5 class="font-weight-bold spanborder"><span>Popular</span></h5>
            <PopularBlogPostList Posts="_popular" />
        </div>
    </div>
</div>
