@page "/{categorySlug}-posts/all"
@page "/{categorySlug}-posts/all/page-{uriPageNumber:int}"

<PageTitle>@Utils.GetPageTitle(PageTitle)</PageTitle>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">

            <h5 class="font-weight-bold spanborder"><span>@PageTitle</span></h5>
            <BlogPostList Posts="_posts" />
            <hr />
            <div class="d-flex justify-content-between">
                @if (_pageNumber > 1)
                {
                    var prevPageUrl = $"{CategorySlug}-posts/all";
                    if (_pageNumber > 2)
                    {
                        prevPageUrl += $"/page-{_pageNumber - 1}";
                    }

                    <a href="@prevPageUrl" class="btn btn-sm btn-outline-primary">Previous Page</a>
                }
                else
                {
                    <span>&nbsp;</span>
                }

                @if(_posts.Length == PageSize)
                {
                    var nextPageUrl = $"{CategorySlug}-posts/all/page-{_pageNumber + 1}";
                    <a href="@nextPageUrl" class="btn btn-sm btn-outline-primary">Next Page</a>
                }

            </div>
            <hr />
        </div>

        <div class="col-md-4 pl-4">
            <div class="sticky-top">
                <h5 class="font-weight-bold spanborder"><span>Popular in @_category?.Name</span></h5>
                <PopularBlogPostList Posts="_popular" />
            </div>
        </div>
    </div>
</div>

<div class="container pt-4 pb-4">
    <SubscribeBox />
</div>
