.fullscreen-fixed{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay {
    background: black;
    opacity: 0.5;
    z-index: 1050;
}

.loader-wrapper{
    z-index: 1051;
}